@import 'resources'
@import 'fonts'

font = 'Gilroy'
text-color = #2B2B2B
theme-color = #0C4773
pale-color = #EFF4FA
dark-pale-color = #CCD8E6

*
  margin 0
  padding 0
  position relative

  &:focus
  &:active
    outline 0

html
  scroll-behavior smooth

html
body
  width 100%
  height 100vh

body
  overflow-y auto
  font-family font
  font-size 62.5%
  color text-color

a
  color inherit
  text-decoration none

textarea
  font-family font
  color text-color
  border none