@import 'resources'
@import 'fonts'

font = 'Gilroy'
text-color = #2B2B2B
theme-color = #0C4773
pale-color = #EFF4FA
dark-pale-color = #CCD8E6

*
  margin 0
  padding 0
  position relative

  &:focus
  &:active
    outline 0

html
  scroll-behavior smooth

html
body
  width 100%
  height 100vh

body
  overflow-y auto
  font-family font
  font-size 62.5%
  color text-color
  fadeIn(2s)

a
  color inherit
  text-decoration none

textarea
  font-family font
  color text-color
  border none

.container
  width 100%
  height auto
  overflow auto

  &.initial-content
    padding-bottom 6em
    overflow-y auto
    overflow-x hidden

  // Initial content

  #header
    position absolute
    z-index 2
    left 0
    width 76%
    padding 5.25em 12% 0 12%
    flex-parent(row, nowrap, space-between)
    align-items flex-end

    @media (max-width 1159px)
      width 90%
      padding-right 5%
      padding-left 5%

    .site-title
      font-size 2.75em
      font-weight 800
      color theme-color

    .main-menu
      flex-basis auto
      flex-parent(row, nowrap, flex-start)
      list-style none

      .menu-link
        font-size 1.8em
        font-weight 600
        margin-left 3.5em
        color theme-color

  .main-texts
    width 25%
    height auto
    margin-top 24em
    margin-left 12%
    float left

    @media (max-width 1800px)
      margin-top 22em

    @media (max-width 1600px)
      margin-top 20em

    @media (max-width 1159px)
      width 32%
      margin-left 5%

    .main-title
      font-size 5em
      font-weight 800
      color theme-color

      @media (max-width 1800px)
        font-size 4.75em

      @media (max-width 1600px)
        font-size 4.5em
    
    .initial-paragraph
      width 90%
      margin-top 2.2em
      font-size 2em
      font-weight 500
      line-height 1.6em
      color theme-color

      @media (max-width 1800px)
        margin-top 2em
        font-size 1.8em

      @media (max-width 1600px)
        margin-top 1.8em
        font-size 1.7

    .see-more-wrapper
      width 100%
      height auto
      margin-top 6.5em
      flex-parent(row, wrap, flex-start)

      @media (max-width 1800px)
        margin-top 6em

      @media (max-width 1600px)
        margin-top 5.5em

      .see-more-btn
        padding .9em 2.8em .8em 2.8em
        font-size 2em
        font-weight 700
        border-radius(1em)
        transition(.6s)
        color #fff
        background-color theme-color

        @media (max-width 1800px)
          font-size 1.8em

        @media (max-width 1600px)
          font-size 1.7

        &:hover
          box-shadow(0px 15px 30px 0px rgba(#6C6C6C, .16))
          color theme-color
          background-color dark-pale-color
      
  .rounded-background
    width 52%
    height auto
    float right

    @media (max-width 1600px)
      width 55%

    @media (max-width 1159px)
      width 57.5%
      transform(translateX(15%))
  
  // Advantages

  &.aparted-content-wrapper
    width 80%
    margin 0 auto
    padding 5vh 0 8vh 0
    flex-parent(row, wrap, space-between)
    align-items center

    &.reversed
      flex-direction row-reverse

    .advantage-illustration
      flex-basis 42%
      height auto

    .advantage-text
      flex-basis 34%
      height auto
      text-align right
      margin-right 6em

      .advantage-title
        margin-bottom 1.1em
        font-size 3.8em
        font-weight 800
        color theme-color
      
      .advantage-description
        width 80%
        padding-left 20%
        font-size 1.8em
        font-size 500
        line-height 1.6em

    &.reversed
      flex-direction row-reverse

      .advantage-text
        margin-right 0
        margin-left 6em
        text-align left
      
      .advantage-description
        padding 0
  
  &.tilted-box
    width 76%
    margin 2.5em 0 2.5em 0
    padding 8em 12% 8em 12%
    height 26em
    background-color pale-color
    transform(skewY(2deg))
    flex-parent(row, wrap, space-between)
    align-items center

    .skill
      flex-basis 25em
      height auto
      transform(skewY(-2deg))
      flex-parent(row, wrap, center)

      &:first-child
        align-self flex-start

      &:last-child
        align-self flex-end

      .skill-illustration
        flex-basis 10em
        height 10em
        margin-bottom 3em
        text-align center

      .skill-description
        flex-basis 100%
        font-size 1.7em
        font-weight 500
        text-align center
        line-height 1.5em
        
        .highlighted-text
          font-weight 600
          color theme-color

  &#faleconosco
    width 76%
    padding 9em 12% 9em 12%
    background-color pale-color

    .footer-title
      font-size 3.5em
      font-weight 700
      color theme-color

    .container
      margin-top 2em
      flex-parent(row, wrap, space-between)
      align-items flex-end

      .social-icons-wrapper
        flex-parent(row, wrap, flex-end)
        align-items center

        .social-icon
          flex-basis 3.5em
          height 3.5em
          margin-left 2em
          cursor pointer

          &:first-child
            margin-left 0

          &#instagram
            flex-basis 3.1em
            height 3.1em
          

.credits
  width 100%
  padding-top .5em
  padding-bottom .3em
  font-size 1.4em
  font-weight 500
  text-align center
  color theme-color
  background-color dark-pale-color

  a
    font-weight 600

  .hiper-highlighted-text
    font-weight 800

// Global media queries

@media (max-width 1800px)
  body
    font-size 60%

@media (max-width 1600px)
  body
    font-size 57.5%

@media (max-width 1366px)
  body
    font-size 54%

@media (max-width 1280px)
  body
    font-size 50%